<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ping.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>128.128.1.36</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8099</value>
            </setting>
        </Ping.Properties.Settings>
    </userSettings>
</configuration>